﻿html {
    overflow-y: scroll;
}

body {
    margin: 0px;
    padding: 0px;
    /**background-image:url('../images/BG-Tile.jpg');**/
}

body,
html,
p,
td,
input,
textarea,
div {
    font-family: Arial, Verdana;
    font-size: 13px;
    color: #000000;
}

ul li {
    list-style-image: url(../Images/bullet.jpg)
}

a img {
    border: none;
}

hr {
    color: #dddddd;
    background-color: #dddddd;
    height: 1px;
    border: none;
}

.investExit {
	font-size: 24px;
    margin: 0px;
    color: #002e67;
    text-transform: uppercase;
    font-Weight: normal;
}

.ShadAboveMenu {
    background-image: url('../images/Menu-Top-Shade.png');
    background-position: bottom;
    background-repeat: repeat-x
}

.MenuBG {
    /*background-image:url('../images/Menu-BG.jpg');
	background-repeat:repeat-x*/
    background-color: #002e67;
}

.BlueTransp {
    background-image: url('../images/BlueBar.png');
    background-repeat: repeat-x
}

.Shadow {
    background-image: url('../images/Shadows.png');
    background-repeat: no-repeat;
}

.NewsShadow {
    background-image: url('../images/NewsShadow.png');
    background-repeat: no-repeat;
}

h1 {
    font-size: 24px;
    margin: 0px;
    color: #002e67;
    text-transform: uppercase;
    font-Weight: normal;
}

h2 {
    font-size: 17px;
    margin: 0px;
    color: #002e67;
    font-Weight: normal;
}

h3 {
    font-size: 13px;
    margin: 0px;
    color: #002e67;
    font-Weight: normal;
}

h4 {
    font-size: 21px;
    margin: 0px;
    color: #414444;
    font-style: italic;
    font-Weight: normal;
}

.white {
    color: #ebe9e7
}

.Banner {
    font-size: 14px;
    padding: 0px;
    margin: 3px 0px 0px 0px
}

.NewsDate {
    background-image: url('../Images/News-Date.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

.News1DateDay {
    font-size: 20px;
    color: #807f7e;
    font-weight: bold;
}

.News1DateMonth {
    font-size: 13px;
    color: #807f7e;
    text-transform: uppercase;
    font-weight: bold;
}

.News2DateDay {
    font-size: 20px;
    color: #f8f6f4;
    font-weight: bold;
}

.News2DateMonth {
    font-size: 13px;
    color: #f8f6f4;
    text-transform: uppercase;
    font-weight: bold;
}

.NewsTitle {
    font-size: 13px;
    color: #414444;
}

.NewsContent {
    font-size: 13px;
    color: #8b8d8d;
}

.breadCrumb {
    font-size: 11px;
    color: #999
}

a:link,
a:visited {
    color: #414444;
    text-decoration: none
}

a:hover,
a:active {
    color: #1d8a97;
    text-decoration: none
}

a.Footer:link,
a.Footer:visited,
.Footer {
    font-size: 11px;
    color: #414444;
    text-decoration: none;
    padding: 0px 10px
}

a.Footer:hover,
a.Footer:active {
    font-size: 11px;
    color: #1d8a97;
    text-decoration: none
}

a.FooterFW:link,
a.FooterFW:visited,
.FooterFW {
    font-size: 11px;
    color: #002e67;
    text-decoration: none
}

a.FooterFW:hover,
a.FooterFW:active {
    font-size: 11px;
    color: #414444;
    text-decoration: none
}

.Form {
    color: #1d8a97;
}

.Button {
    background-color: #1d8a97;
    color: #f8f6f4;
    border: solid 1px #dddddd;
}

.SubMenu {
    margin-top: 12px;
    background-color: #002e67;
    padding: 10px;
    z-index: 200px;
    display: none;
}

.SubMenu a:link,
.SubMenu a:visited {
    color: #ccd5d4;
    padding: 10px;
    z-index: 200px;
}

.SubMenu a:hover,
.SubMenu a:active {
    color: #fff;
    z-index: 200px;
}

a.Menu:link,
a.Menu:visited,
.Menu {
    font-size: 16px;
    font-weight: bold;
    color: White;
    text-decoration: none;
    padding: 14px 20px
}

a.Menu:hover,
a.Menu:active {
    font-size: 16px;
    font-weight: bold;
    color: #7c7979;
    text-decoration: none
}

a.MenuOn:link,
a.MenuOn:visited,
.MenuOn {
    font-size: 16px;
    font-weight: bold;
    color: #7c7979;
    text-decoration: none;
    padding: 14px 20px
}

a.MenuOn:hover,
a.MenuOn:active {
    font-size: 16px;
    font-weight: bold;
    color: #7c7979;
    text-decoration: none
}

.eng,
.fr {
    cursor: pointer;
}