﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="Pages_MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="EN" xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>TANA</title>
	<link rel="shortcut icon" href="http://www.tana-africa.com/favicon.ico" mce_href="http://www.tana-africa.com/favicon.ico"/>
    <link href="../resource/Styles.css" rel="stylesheet" type="text/css" />
    <script src="../scriptlibrary/jquery-1.3.2.min.js" type="text/javascript"></script>
    <% if(Request.Browser.Browser.ToLower()=="ie"){ if(double.Parse(Request.Browser.Version)<=7){ %>
        <style>
            
        </style>
    <%}} %>
    <script>
        $(document).ready(function () {
            $(this).children().find('img').each(function () {
                if (($(this).attr("swap") == "_on") || ($(this).attr("swap") == "-on")) {
                    $(this).attr("swapOff", $(this).attr("src"));
                    $(this).attr("swapOff2", $(this).attr("src"));
                    $(this).mouseenter(function () {
                        if ($(this).attr("src").indexOf($(this).attr("swap")) == -1) $(this).attr("src", $(this).attr("src").replace(".png", $(this).attr("swap") + ".png").replace(".gif", $(this).attr("swap") + ".gif").replace(".jpg", $(this).attr("swap") + ".jpg").replace(".jpeg", $(this).attr("swap") + ".jpeg"));
                    }).mouseleave(function () {
                        $(this).attr("src", $(this).attr("swapOff"));
                    });
                }
            });
        });
    </script>
    <script>        var SetMenu = "";</script>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15322053-42']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
    <form id="form1" runat="server">
<table cellpadding=0 cellspacing=0 width=980 align=center style="margin-top: 5px;">
    <tr><td align=right><span class="eng">ENG</span> | <span class="fr">FR</span></td></tr>
            <%--<tr>
                <td height=173 align=center class=ShadAboveMenu><a href="default.aspx"><img src="../Images/Logo.png" /></a></td>
            </tr>--%>
            <tr>
                <td height=45 class="MenuBG">
                    <table cellpadding=0 cellspacing=0 align=center menu=true>
                        <tr>
                            <td height=45 ><a class="Menu" href="Default.aspx">Home</a></td>
                            <td><a height=45 class="Menu" onmouseover="show1();" onmouseout="hide1();" href="FOUNDING_SHAREHOLDERS.aspx">About</a><br />
                          <div id=subMenu1 onmouseover="show1();" onmouseout="hide1();"  class="SubMenu" style="position:absolute; z-index:100;">
                                    <a href="Founding_Shareholders.aspx">Founding Shareholders</a><br /><br />
									<!-- <a href="About.aspx">Company Overview</a><br /><br /> -->
                                    <a href="Investment_Philosophy.aspx">Investment Approach</a><br /><br />
                                    <a href="Focus_Sectors_And_Investment_Criteria.aspx">Focus Sectors And Investment Criteria</a>
                                </div>
                            </td>
                      <td><a class="Menu" href="Team.aspx">Team</a>
                               </td>
                          
							<td><a height=45 class="Menu" onmouseover="show2();" onmouseout="hide2();" href="Investments.aspx">Investments</a><br />
                          <div id=subMenu2 onmouseover="show2();" onmouseout="hide2();"  class="SubMenu" style="position:absolute; z-index:100;">
                                    <a href="Investments.aspx">Current Portfolio</a><br /><br />
									<a href="Realised-exits.aspx">Realised Exits</a>
                                </div>
                            </td>
                            <%--<td><a href="News.aspx"><img swap="-on" src="../Images/Menu-News.jpg" /></a></td>--%>
                            <td><a class="Menu" href="contactus.aspx">Contact</a></td>
                        </tr>
                    </table>
                    <script>
                        function show1() {
                            $('#subMenu1').show();
                        }
                        function hide1() {
                            $('#subMenu1').hide();
                        }
                       
                        $(document).ready(function () {
                            $(document).children().find('[menu]').each(function () {
                                $(this).find('a').each(function () {
                                    if ($(this).html().toLowerCase().indexOf(SetMenu.toLowerCase()) >= 0) {
                                        $(this).attr('class', 'MenuOn');
                                    }
                                });
                            });
                        });

                        
                    </script>
					 <script>
                        function show2() {
                            $('#subMenu2').show();
                        }
                        function hide2() {
                            $('#subMenu2').hide();
                        }
                       
                        $(document).ready(function () {
                            $(document).children().find('[menu]').each(function () {
                                $(this).find('a').each(function () {
                                    if ($(this).html().toLowerCase().indexOf(SetMenu.toLowerCase()) >= 0) {
                                        $(this).attr('class', 'MenuOn');
                                    }
                                });
                            });
                        });

                        
                    </script>
                </td>
            </tr>
            <tr>
                <td height=20></td>
            </tr>
            <tr style="display:none">
                <td>
                    <div style="position:absolute; z-index:100; margin-top:325px">
                        <table cellpadding=0 cellspacing=0 class=BlueTransp width=980 height=76>
                            <tr valign=top>
                                <td style="padding:5px 20px 5px 20px;">
                                    <h3 class="white" id=BannerTitle>Lorem ipsum dolor</h3>
                                    <p class="white Banner" id=BannerContent>Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.<br />
Enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="position:absolute; z-index:100; margin:180px 0px 0px -10px"><img onclick="DoChangeNeg();" style="cursor:pointer" src="../Images/Banner-Left.png" /></div>
                    <div style="position:absolute; z-index:100; margin:180px 0px 0px 951px"><img onclick="DoChangePlus();" style="cursor:pointer" src="../Images/Banner-Right.png" /></div>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding=0 cellspacing=0 width=100%>
                        <tr>
                            <td><img src="" id=imgBanner alt="" title="" /></td>
                        </tr>
                        <tr style="display:none" >
                            <td height=37 bgcolor=white align=center valign=middle style="border:1px solid #d9d4cf; border-top:none;">
                                <img style="padding:0px 3px; cursor:pointer" id=SLideImg1 onclick="runme = 2;DoChange1Now();if (OtherClick == 0) {OtherClick=1;}" src="../Images/Dot-On.png" />
                                <img style="padding:0px 3px; cursor:pointer" id=SLideImg2 onclick="runme = 2;DoChange2Now();if (OtherClick == 0) {OtherClick=1;}" src="../Images/Dot-Off.png" />
                                <img style="padding:0px 3px; cursor:pointer" id=SLideImg3 onclick="runme = 2;DoChange3Now();if (OtherClick == 0) {OtherClick=1;}" src="../Images/Dot-Off.png" />
                                <img style="padding:0px 3px; cursor:pointer" id=SLideImg4 onclick="runme = 2;DoChange4Now();if (OtherClick == 0) {OtherClick=1;}" src="../Images/Dot-Off.png" />
                                <img style="padding:0px 3px; cursor:pointer" id=SLideImg5 onclick="runme = 2;DoChange5Now();if (OtherClick == 0) {OtherClick=1;}" src="../Images/Dot-Off.png" />
                                <img style="padding:0px 3px; cursor:pointer" id=SLideImg6 onclick="runme = 2;DoChange6Now();if (OtherClick == 0) {OtherClick=1;}" src="../Images/Dot-Off.png" />
                                <img style="padding:0px 3px; cursor:pointer" id=SLideImg7 onclick="runme = 2;DoChange7Now();if (OtherClick == 0) {OtherClick=1;}" src="../Images/Dot-Off.png" />
                            </td>
                        </tr>
                        <tr><td height=5></td></tr>
                    </table>
                    <script>
                        var runme = 1;
                        var OtherClick = 0;
                        var Pos = 1;
                        var TOut;
                        function Fade() { $('#imgBanner').parent().css({ 'background-image': 'url(' + $('#imgBanner').attr('src') + ')' }); $('#imgBanner').stop().animate({ opacity: 0 }, 1000); }

                        function unFade() { $('#imgBanner').stop().animate({ opacity: 1.0 }, 1000); }

                        function changeBanner1() { SetImg('SLideImg1'); $('#imgBanner').attr('src', '../images/Banner1.jpg'); $('#imgBannerA').attr('href', ''); unFade(); $('#imgBanner').attr('alt', ''); $('#imgBanner').attr('title', ''); $('#BannerTitle').html(''); $('#BannerContent').html(''); }
                        function changeBanner2() { SetImg('SLideImg2'); $('#imgBanner').attr('src', '../images/Banner5.jpg'); $('#imgBannerA').attr('href', ''); unFade(); $('#imgBanner').attr('alt', ''); $('#imgBanner').attr('title', ''); $('#BannerTitle').html(''); $('#BannerContent').html(''); }
                        function changeBanner3() { SetImg('SLideImg3'); $('#imgBanner').attr('src', '../images/Banner2.jpg'); $('#imgBannerA').attr('href', ''); unFade(); $('#imgBanner').attr('alt', ''); $('#imgBanner').attr('title', ''); $('#BannerTitle').html(''); $('#BannerContent').html(''); }
                        function changeBanner4() { SetImg('SLideImg4'); $('#imgBanner').attr('src', '../images/Banner6.jpg'); $('#imgBannerA').attr('href', ''); unFade(); $('#imgBanner').attr('alt', ''); $('#imgBanner').attr('title', ''); $('#BannerTitle').html(''); $('#BannerContent').html(''); }
                        function changeBanner5() { SetImg('SLideImg5'); $('#imgBanner').attr('src', '../images/Banner3.jpg'); $('#imgBannerA').attr('href', ''); unFade(); $('#imgBanner').attr('alt', ''); $('#imgBanner').attr('title', ''); $('#BannerTitle').html(''); $('#BannerContent').html(''); }
                        function changeBanner6() { SetImg('SLideImg6'); $('#imgBanner').attr('src', '../images/Banner7.jpg'); $('#imgBannerA').attr('href', ''); unFade(); $('#imgBanner').attr('alt', ''); $('#imgBanner').attr('title', ''); $('#BannerTitle').html(''); $('#BannerContent').html(''); }
                        function changeBanner7() { SetImg('SLideImg7'); $('#imgBanner').attr('src', '../images/Banner4.jpg'); $('#imgBannerA').attr('href', ''); unFade(); $('#imgBanner').attr('alt', ''); $('#imgBanner').attr('title', ''); $('#BannerTitle').html(''); $('#BannerContent').html(''); }


                        function DoChange1() { clearTimeout(TOut); Fade(); Pos = 1; setTimeout("changeBanner1();", 1000); TOut = setTimeout("DoChange2();", 5000); }
                        function DoChange2() { clearTimeout(TOut); Fade(); Pos = 2; setTimeout("changeBanner2();", 1000); TOut = setTimeout("DoChange3();", 5000); }
                        function DoChange3() { clearTimeout(TOut); Fade(); Pos = 3; setTimeout("changeBanner3();", 1000); TOut = setTimeout("DoChange4();", 5000); }
                        function DoChange4() { clearTimeout(TOut); Fade(); Pos = 4; setTimeout("changeBanner4();", 1000); TOut = setTimeout("DoChange5();", 5000); }
                        function DoChange5() { clearTimeout(TOut); Fade(); Pos = 5; setTimeout("changeBanner5();", 1000); TOut = setTimeout("DoChange6();", 5000); }
                        function DoChange6() { clearTimeout(TOut); Fade(); Pos = 6; setTimeout("changeBanner6();", 1000); TOut = setTimeout("DoChange7();", 5000); }
                        function DoChange7() { clearTimeout(TOut); Fade(); Pos = 7; setTimeout("changeBanner7();", 1000); TOut = setTimeout("DoChange1();", 5000); }

                        function DoChange1Now() { clearTimeout(TOut); Fade(); Pos = 1; setTimeout("changeBanner1();", 10); TOut = setTimeout("DoChange2();", 5000); }
                        function DoChange2Now() { clearTimeout(TOut); Fade(); Pos = 2; setTimeout("changeBanner2();", 10); TOut = setTimeout("DoChange3();", 5000); }
                        function DoChange3Now() { clearTimeout(TOut); Fade(); Pos = 3; setTimeout("changeBanner3();", 10); TOut = setTimeout("DoChange4();", 5000); }
                        function DoChange4Now() { clearTimeout(TOut); Fade(); Pos = 4; setTimeout("changeBanner4();", 10); TOut = setTimeout("DoChange5();", 5000); }
                        function DoChange5Now() { clearTimeout(TOut); Fade(); Pos = 5; setTimeout("changeBanner5();", 10); TOut = setTimeout("DoChange6();", 5000); }
                        function DoChange6Now() { clearTimeout(TOut); Fade(); Pos = 6; setTimeout("changeBanner6();", 10); TOut = setTimeout("DoChange7();", 5000); }
                        function DoChange7Now() { clearTimeout(TOut); Fade(); Pos = 7; setTimeout("changeBanner7();", 10); TOut = setTimeout("DoChange1();", 5000); }

                        function DoChangePlus() {
                            if (Pos == 1) {
                                runme = 2;
                                DoChange2Now();

                                if (OtherClick == 0) {
                                    OtherClick = 1;
                                }
                            } else if (Pos == 2) {
                                runme = 2;
                                DoChange3Now();

                                if (OtherClick == 0) {
                                    OtherClick = 1;
                                }
                            } else if (Pos == 3) {
                                runme = 2;
                                DoChange1Now();

                                if (OtherClick == 0) {
                                    OtherClick = 1;
                                }
                            } else if (Pos == 4) {
                                runme = 2;
                                DoChange1Now();

                                if (OtherClick == 0) {
                                    OtherClick = 1;
                                }
                            } else if (Pos == 5) {
                                runme = 2;
                                DoChange1Now();

                                if (OtherClick == 0) {
                                    OtherClick = 1;
                                }
                            } else if (Pos == 6) {
                                runme = 2;
                                DoChange1Now();

                                if (OtherClick == 0) {
                                    OtherClick = 1;
                                }
                            } else if (Pos == 7) {
                                runme = 2;
                                DoChange1Now();

                                if (OtherClick == 0) {
                                    OtherClick = 1;
                                }
                            }
                        }

                        function DoChangeNeg() {
                            if (Pos == 1) { runme = 2; DoChange3Now(); if (OtherClick == 0) { OtherClick = 1; } }
                            else if (Pos == 2) { runme = 2; DoChange1Now(); if (OtherClick == 0) { OtherClick = 1; } }
                            else if (Pos == 3) { runme = 2; DoChange2Now(); if (OtherClick == 0) { OtherClick = 1; } }
                            else if (Pos == 4) { runme = 2; DoChange2Now(); if (OtherClick == 0) { OtherClick = 1; } }
                            else if (Pos == 5) { runme = 2; DoChange2Now(); if (OtherClick == 0) { OtherClick = 1; } }
                            else if (Pos == 6) { runme = 2; DoChange2Now(); if (OtherClick == 0) { OtherClick = 1; } }
                            else if (Pos == 7) { runme = 2; DoChange2Now(); if (OtherClick == 0) { OtherClick = 1; } }
                        }

                        function SetImg(me) {
                            document.getElementById('SLideImg1').src = '../Images/Dot-Off.png';
                            document.getElementById('SLideImg2').src = '../Images/Dot-Off.png';
                            document.getElementById('SLideImg3').src = '../Images/Dot-Off.png';
                            document.getElementById('SLideImg4').src = '../Images/Dot-Off.png';
                            document.getElementById('SLideImg5').src = '../Images/Dot-Off.png';
                            document.getElementById('SLideImg6').src = '../Images/Dot-Off.png';
                            document.getElementById('SLideImg7').src = '../Images/Dot-Off.png';

                            document.getElementById(me).src = '../images/Dot-On.png';
                        }

                        function DoChangeStart() { changeBanner1(); SetImg('SLideImg1'); TOut = setTimeout("DoChange2();", 6000); }
                        DoChangeStart();
                    </script>
                </td>
            </tr>
            <tr>
                <td height=25 class=Shadow ></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding=0 cellspacing=0 width=100% style="border:1px solid #d9d4cf;" bgcolor=white >
                        <tr>
                            <td style="padding:30px 16px">
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height=50 align=center valign=middle>
                    <table cellpadding=0 cellspacing=0>
                        <tr>
                            <td class=Footer align=center><a class=Footer href="Default.aspx">Home</a> | <a class=Footer href="FOUNDING_SHAREHOLDERS.aspx">About</a> | <a class=Footer href="Team.aspx">Team</a> | <a class=Footer href="Investments.aspx">Investments</a> | <a class=Footer href="contactus.aspx">Contact</a></td>
                        </tr>
                        <tr>
                            <td class=Footer align=center>Copyright © <% Response.Write(DateTime.Now.Year); %> Tana  |  All Rights Reserved  </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
    <script>
        $('.fr').click(function() {
            location.replace('/pages/fr/Default.aspx');
        });
    </script>
</body>
</html>
